src/*
inc/*
out/package-lock.json
node_modules/
out/node_modules
out/texture
out/temp
main.cpp
*.o
test.cpp
main_copy.cpp
vs_editor/*
out/assets/js/vs_editor/*
out/assets/monaco-editor/*
out/assets/static/*
out/new_template.data
out/new_template.js
out/new_template.wasm
.vscode/
